.gadgetLogo {
  margin: 14px auto;
  height: 44px;
}

.Polaris-Grid {
  align-items: center;
  margin-bottom: 2rem;
}

.Polaris-Box {
  min-height: initial;
}

.Polaris-DataTable__Table {
  font-size: .8125rem;
}

.Polaris-IndexFilters__ActionWrap {
  display: none;
}

.Polaris-CalloutCard__Image {
  width: 12rem;
}

.Polaris-Icon {
  height: 1rem;
  width: 1rem;
}

input:disabled,
.Polaris-Button--disabled {
  cursor: not-allowed;
}

select:disabled {
  cursor: not-allowed;
}

.table-row-with-copy .table-row-text {
  display: inline-block;
  max-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.copy-to-clipboard-button {
  display: inline-block;
  margin-left: 0.5rem;
  visibility: hidden;
}

.table-row-with-copy:hover .copy-to-clipboard-button {
  visibility: visible;
}

/* Crisp chat override */
.crisp-client .cc-1brb6 .cc-1yy0g .cc-1m2mf .cc-157aw {
  background-color: #ed733e !important;
}